<footer class="footer">
  <div class="col">
    <h4>Empresa</h4>
    <a href="#" (click)="$event.preventDefault()">Acerca</a>
    <a href="#" (click)="$event.preventDefault()">Privacidad</a>
    <a href="#" (click)="$event.preventDefault()">Términos</a>
  </div>

  <div class="col">
    <h4>Recursos</h4>
    <a href="#" (click)="$event.preventDefault()">Docs</a>
    <a href="#" (click)="$event.preventDefault()">Soporte</a>
    <a href="#" (click)="$event.preventDefault()">FAQ</a>
  </div>

  <div class="col socials">
    <h4>Redes</h4>
    <div class="icons">
      <mat-icon>public</mat-icon>
      <mat-icon>share</mat-icon>
      <mat-icon>alternate_email</mat-icon>
    </div>
  </div>

  <div class="copy">
©   {{ year }} — Proyecto demo
  </div>
</footer>
